@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

.main {
  width: 80%;
  margin: 0 auto;
  margin-top: 12%;
}

.image,
.input,
.button,
.title {
  margin: 0 auto;
  display: block;
  margin-bottom: 5rem;
}

.image {
  width: 5%;
}
.input {
  height: 2rem;
  padding: 0.5rem;
}
.title {
  text-align: center;
  font-size: 1.5rem;
}
.button {
  padding: 0.45rem 1rem 0.45rem 1rem;
  font-size: 1rem;
}
