@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  color: #443523;
  font-family: "Roboto";
}

body {
  background-color: #dfeeea;
}

.main {
  width: 65%;
  margin: 3rem auto;
}

.title {
  font-family: "Roboto";
  font-size: 3em;
  width: 50%;
  text-align: center;
  margin: 5rem auto;
  font-weight: bolder;
  letter-spacing: 0.1rem;
}

.text {
  line-height: 2rem;
  font-family: "Open Sans";
  font-size: 1.33em;
  font-weight: 600;
  text-align: justify;
  padding-top: 5rem;
  margin-bottom: 10rem;
}
.tag {
  float: right;
  color: #dfeeea;
  background-color: #443523;
  border-radius: 40px;
  padding: 0.6em;
  margin-left: 1em;
  font-family: "Roboto";
  letter-spacing: 0.1em;
}
.date {
  font-weight: bold;
  color: #443523;
  font-size: 1.325em;
}
.image {
  width: 7rem;
  border-radius: 60px;
}
.comment {
  padding: 2.5rem;
  width: 65%;
  margin: 0 auto;
  background-color: #c7d4d0;
  margin-bottom: 3rem;
  border: 3px solid #afbdb9;
}
.commentUpper {
  display: flex;
  align-items: start;
  margin-bottom: 2.5rem;
}

.author {
  font-size: 1.75rem;
}

.commentText {
  font-size: 1.25rem;
  font-weight: 1000;
  font-family: "Open Sans";
}

.commentDate {
  padding-top: 2.5rem;
  font-size: 0.95rem;
}

.commentContent {
  margin-left: 2.5rem;
}

.createComment {
  width: 40rem;
  margin: 10rem auto;
  text-align: center;
}

.nameInput {
  display: block;
  width: 40%;
  font-size: 0.75rem;
  padding: 0.55rem;
  margin: 2.5rem auto;
}
.textInput {
  display: block;
  width: 40%;
  padding: 0.55rem;
  margin: 2.5rem auto;
  resize: none;
  font-size: 0.75rem;
}
.commentButton {
  padding: 0.5rem;
  font-size: 1rem;
}
