@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
.comment {
  border: 1px solid black;
  padding: 15px;
}

.outerPostWrapper {
  width: 1000px;
  border-right: 1px solid black;
  padding-right: 50px;
}
.innerPostWrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(8, 83, 8);
}
.color {
  color: blueviolet;
}
.blog-name {
  padding: 50px 0 0 500px;
  font-size: 64px;
  text-shadow: 2px 2px 15px rgb(131, 127, 127);
  font-weight: bold;
  color: #2b2b2b;
}
.all-posts {
  margin-bottom: 300px;
  padding: 30px 0 0 550px;
}
a {
  text-decoration: none;
}
.post-title {
  font-family: Helvetica, sans-serif;
  font-weight: bolder;
  color: black;
  font-size: 34px;
}
.post-text {
  color: #2e343d;
  padding-top: 30px;
  font-size: 18px;
  font-family: Calibri, sans-serif;
}
.no-tags {
  color: #2e343d;
  padding-top: 17px;
  font-size: 17px;
  font-family: Ubuntu;
  margin: 20px 0 10px 0;
}
.post-tag {
  background-color: black;
  border-radius: 40px;
  width: 80px;
  padding: 0.6em;
  font-weight: bold;
  color: #dfeeea;
  margin-right: 10px;
  margin-top: 15em;
}
.post-date {
  font-family: Ubuntu;
  font-weight: bold;
  padding-top: 35px;
  color: #2e343d;
}
.nenad {
  margin-top: 25px;
}
